* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    cursor: pointer;
}
img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}

.slider-wrap {
    position: fixed;
    overflow: hidden;

    top: 20%;
    left: 10%;
    width: 80%;
    height: 300px;

    border: 2px solid red;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 4000px;

    display: flex;
    will-change: transform;
    background-color: #000;
    /* border: 2px solid green; */
}

.slider-item {
    position: relative;
    flex: 1;
    overflow: hidden;
    filter: grayscale(100%);
}

.img-div {
    position: relative;
    left: 1%;
    top: 2.5%;
    width: 98%;
    height: 95%;
    background-size: cover;
    object-fit: cover;
    background-position: center;
}